Package: nodex
Version: 16.20.0-b
Architecture: all
Maintainer: Mathieu Dombrock
Original-Maintainer: Mathieu Dombrock
Installed-Size: 524
Depends: 
Provides: 
Section: javascript
Priority: optional
Homepage: https://github.com/turnaroundfactor/nodex
Description: A custom NodeJS version
